body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-16xl: 35px;
  --font-size-15xl-4: 34.4px;
  --font-size-16xl-9: 35.9px;
  --font-size-13xl-1: 32.1px;

  /* Colors */
  --color-dimgray-100: #505050;
  --color-white: #fff;
  --color-gray: #0d0017;
  --color-black: #000;

  /* Border radiuses */
  --br-7xl: 26px;
  --br-29xl-3: 48.3px;
  --br-5xl-1: 24.1px;
}
