.teachers-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  display: inline-block;
  width: 362px;
  height: 50.78px;
}
.teachers-dashboard-wrapper {
  position: absolute;
  top: 38.11px;
  left: 783px;
  width: 362px;
  height: 50.78px;
  font-size: 32.96px;
}
.home-page-child {
  position: absolute;
  top: 0;
  left: 391px;
  background: linear-gradient(135deg, #ce9ffc, #7367f0);
  width: 1051px;
  height: 1024px;
}
.blocks-1-icon,
.home-page-item {
  position: absolute;
  top: 0;
  left: -3px;
  width: 392px;
  height: 1024px;
}
.blocks-1-icon {
  left: 0;
  width: 71.38px;
  height: 71.38px;
  object-fit: cover;
}
.classroom {
  position: absolute;
  top: 16.61px;
  left: 103.24px;
  font-weight: 900;
  display: inline-block;
  width: 211.96px;
  height: 19.6px;
}
.blocks-1-parent {
  position: absolute;
  top: 27px;
  left: 35px;
  width: 315.2px;
  height: 71.38px;
  font-size: 33.08px;
}
.student-list {
  position: absolute;
  top: 27px;
  left: 847px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 187px;
  height: 40px;
}
.iconsaxlinearlogoutcurve {
  position: absolute;
  top: 931px;
  left: 58px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.log-out {
  position: absolute;
  top: 927px;
  left: 105px;
  font-size: 23.84px;
  font-weight: 500;
  display: inline-block;
  width: 92.21px;
  height: 29px;
}
.group-child {
  position: absolute;
  top: 72px;
  left: 0;
  border-radius: 35px;
  background-color: var(--color-gainsboro);
  width: 960px;
  height: 670px;
}
.lowest-first {
  position: absolute;
  top: 27px;
  left: 41px;
  font-weight: 500;
  display: inline-block;
  width: 159px;
  height: 31px;
}
.iconsaxlinearfilter,
.vector-icon {
  position: absolute;
  top: 0;
  left: 865px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.vector-icon {
  height: 4.72%;
  width: 3.19%;
  top: 3.1%;
  right: 5.66%;
  bottom: 92.18%;
  left: 91.15%;
  max-width: 100%;
  max-height: 100%;
}
.ruhani-choudhary-59 {
  position: absolute;
  top: 150px;
  left: 68px;
  font-weight: 500;
  display: inline-block;
  width: 870px;
  height: 38px;
  cursor: pointer;
}
.div,
.div1,
.div2,
.div3,
.komal-dua-38,
.name-rank,
.sk-sayan-10,
.umar-shaikh-2 {
  position: absolute;
  top: 225px;
  left: 68px;
  font-weight: 500;
  display: inline-block;
  width: 870px;
  height: 38px;
}
.div,
.div1,
.div2,
.div3,
.komal-dua-38,
.name-rank,
.sk-sayan-10 {
  top: 300px;
}
.div,
.div1,
.div2,
.div3,
.name-rank,
.sk-sayan-10 {
  top: 375px;
}
.div,
.div1,
.div2,
.div3,
.name-rank {
  top: 450px;
}
.div1,
.div2,
.div3,
.name-rank {
  top: 525px;
}
.div2,
.div3,
.name-rank {
  top: 600px;
}
.div3,
.name-rank {
  top: 675px;
}
.name-rank {
  top: 97px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-inner,
.group-item,
.line-div {
  position: absolute;
  top: 134.5px;
  left: 24.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 914px;
  height: 1px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.group-inner,
.line-div {
  top: 210.5px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6,
.line-div {
  top: 287.5px;
}
.group-child1,
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6 {
  top: 354.5px;
  left: 22.5px;
}
.group-child2,
.group-child3,
.group-child4,
.group-child5,
.group-child6 {
  top: 427.5px;
  left: 23.5px;
}
.group-child3,
.group-child4,
.group-child5,
.group-child6 {
  top: 498.5px;
  left: 22.5px;
}
.group-child4,
.group-child5,
.group-child6 {
  top: 577.5px;
  left: 24.5px;
}
.group-child5,
.group-child6 {
  top: 652.5px;
}
.group-child6 {
  top: 733.5px;
  left: 19.5px;
}
.rectangle-parent {
  position: absolute;
  top: 201px;
  left: 435px;
  width: 960px;
  height: 742px;
  color: var(--color-black);
}
.home-page-inner {
  position: absolute;
  top: 103px;
  left: 771px;
  border-radius: 70px;
  background-color: var(--color-gainsboro);
  width: 569px;
  height: 60px;
}
.iconsaxlinearsearchnormal1 {
  position: absolute;
  top: 119px;
  left: 795px;
  width: 34px;
  height: 32px;
  overflow: hidden;
}
.home-page-child1 {
  position: absolute;
  top: 110.5px;
  left: 842.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 44px;
}
.rectangle-div {
  position: absolute;
  top: 104px;
  left: 460px;
  border-radius: 19px;
  background-color: var(--color-gainsboro);
  width: 288px;
  height: 60px;
}
.iconsaxlineararrowdown2 {
  position: absolute;
  top: 123px;
  left: 706px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.mathematics-2me1,
.seach-for-students {
  position: absolute;
  font-size: 18.26px;
  font-weight: 500;
  display: inline-block;
}
.mathematics-2me1 {
  top: 121px;
  left: 476px;
  color: var(--color-black);
  width: 176px;
  height: 23.39px;
}
.seach-for-students {
  top: 122px;
  left: 868px;
  color: #4e4e4e;
  width: 472px;
  height: 35px;
}
.dashboard,
.group-child7,
.rectangle-wrapper {
  position: absolute;
  left: 0;
  width: 314.59px;
  height: 62px;
}
.group-child7 {
  top: 0;
  border-radius: 24.11px;
  background: linear-gradient(135deg, #3b2667, #bc78ec);
}
.dashboard,
.rectangle-wrapper {
  top: 150px;
}
.dashboard {
  top: 0;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  width: 181px;
  height: 39px;
}
.iconsaxlinearcategory {
  position: absolute;
  top: 11px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashboard-parent {
  position: absolute;
  top: 0;
  left: 42px;
  width: 221px;
  height: 39px;
}
.group-container,
.messages {
  position: absolute;
  top: 0;
  left: 0;
  width: 314.59px;
  height: 212px;
}
.messages {
  left: 40px;
  font-weight: 500;
  display: inline-block;
  width: 165px;
  height: 39px;
}
.group-icon {
  position: absolute;
  top: 15px;
  left: 0;
  width: 24px;
  height: 24px;
}
.messages-parent,
.quiz {
  position: absolute;
  top: 88px;
  left: 42px;
  width: 205px;
  height: 39px;
}
.quiz {
  top: 0;
  font-weight: 500;
  display: inline-block;
  width: 224px;
}
.iconsaxlinearclipboardtext {
  position: absolute;
  top: 14px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.materials,
.quiz-parent {
  position: absolute;
  left: 42px;
  height: 39px;
}
.quiz-parent {
  top: 230px;
  width: 266px;
  cursor: pointer;
}
.materials {
  top: 0;
  font-weight: 500;
  display: inline-block;
  width: 165px;
}
.materials-parent,
.settings-parent {
  position: absolute;
  left: 40px;
  width: 207px;
  height: 39px;
}
.materials-parent {
  top: 303px;
  cursor: pointer;
}
.settings-parent {
  top: 371px;
}
.iconsaxlinearmessagequestion {
  position: absolute;
  top: 13px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.iconsaxlinearmessagequestion-parent {
  position: absolute;
  top: 443px;
  left: 40px;
  width: 207px;
  height: 39px;
}
.group-parent,
.students-parent {
  position: absolute;
  top: 159px;
  left: 42px;
  width: 205px;
  height: 39px;
}
.group-parent {
  top: 188px;
  left: 39px;
  width: 314.59px;
  height: 482px;
  font-size: 32.06px;
}
.home-page {
  position: relative;
  background: linear-gradient(
    135deg,
    #08000e 10.21%,
    #08000e 10.21%,
    #000 23.75%,
    #500188
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1024px;
  text-align: left;
  font-size: 27.06px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
