body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-8xl-1: 27.1px;
  --font-size-16xl: 35px;
  --font-size-13xl-1: 32.1px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  /* Border radiuses */
  --br-7xl: 26px;
}
