.teachers-dashboard {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  display: inline-block;
  width: 362px;
  height: 50.78px;
}
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.teachers-dashboard-wrapper {
  position: absolute;
  top: 38.11px;
  left: 783px;
  width: 362px;
  height: 50.78px;
  font-size: 32.96px;
}
.quiz-child,
.quiz-item {
  position: absolute;
  top: 0;
  height: 1024px;
}
.quiz-child {
  left: 389px;
  background: linear-gradient(135deg, #ce9ffc, #7367f0);
  width: 1051px;
}
.quiz-item {
  left: 0;
  width: 392px;
}
.blocks-1-icon,
.group-child,
.quiz-inner {
  position: absolute;
  width: 247.41px;
  height: 48px;
}
.group-child {
  top: 0;
  left: 0;
  border-radius: 24.11px;
  background: linear-gradient(135deg, #3b2667, #bc78ec);
}
.blocks-1-icon,
.quiz-inner {
  top: 390px;
  left: 49px;
}
.blocks-1-icon {
  top: 0;
  left: 0;
  width: 71.38px;
  height: 71.38px;
  object-fit: cover;
}
.classroom {
  position: absolute;
  top: 16.61px;
  left: 103.24px;
  font-weight: 900;
  display: inline-block;
  width: 211.96px;
  height: 19.6px;
}
.blocks-1-parent {
  position: absolute;
  top: 27px;
  left: 35px;
  width: 315.2px;
  height: 71.38px;
  font-size: 33.08px;
}
.ellipse-icon {
  position: absolute;
  top: 110px;
  left: 435px;
  width: 153px;
  height: 153px;
}
.iconsaxlinearprofile {
  position: absolute;
  top: 147px;
  left: 467px;
  width: 90px;
  height: 90px;
  overflow: hidden;
}
.arnav-shukla {
  margin: 0;
}
.arnav-shukla-arnav123gmailco-container,
.scheuled-quiz,
.students-dashboard {
  position: absolute;
  top: 154px;
  left: 634px;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 303px;
  height: 79.34px;
}
.scheuled-quiz,
.students-dashboard {
  top: 298px;
  left: 450px;
  width: 213px;
  height: 39px;
}
.students-dashboard {
  top: 27px;
  left: 746px;
  width: 292px;
  height: 40px;
}
.line-div {
  position: absolute;
  top: 291.5px;
  left: 447.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 935px;
  height: 1px;
}
.iconsaxlinearlogoutcurve {
  position: absolute;
  top: 931px;
  left: 58px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.dashboard,
.log-out {
  position: absolute;
  font-weight: 500;
  display: inline-block;
}
.log-out {
  top: 927px;
  left: 105px;
  font-size: 23.84px;
  width: 92.21px;
  height: 29px;
}
.dashboard {
  top: 0;
  left: 40px;
  width: 181px;
  height: 39px;
}
.iconsaxlinearcategory {
  position: absolute;
  top: 11px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group-wrapper,
.queries {
  position: absolute;
  top: 0;
  left: 0;
  width: 221px;
  height: 39px;
}
.queries {
  left: 40px;
  font-weight: 500;
  display: inline-block;
  width: 165px;
}
.group-item {
  position: absolute;
  top: 15px;
  left: 0;
  width: 24px;
  height: 24px;
}
.practice,
.queries-parent {
  position: absolute;
  top: 238px;
  left: 2px;
  width: 205px;
  height: 39px;
}
.practice {
  top: 0;
  left: 42px;
  font-weight: 500;
  display: inline-block;
  width: 224px;
}
.iconsaxlinearclipboardtext {
  position: absolute;
  top: 14px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.practice-parent {
  position: absolute;
  top: 114px;
  left: 2px;
  width: 266px;
  height: 39px;
  cursor: pointer;
}
.quiz-parent {
  top: 182px;
  left: 2px;
  width: 207px;
}
.quiz-parent,
.settings,
.settings-parent {
  position: absolute;
  height: 39px;
}
.settings {
  top: 0;
  left: 42px;
  font-weight: 500;
  display: inline-block;
  width: 165px;
}
.settings-parent {
  top: 298px;
  left: 5px;
  width: 207px;
}
.iconsaxlinearmessagequestion {
  position: absolute;
  top: 13px;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.iconsaxlinearmessagequestion-parent,
.leaderboard {
  position: absolute;
  top: 423px;
  left: 12px;
  width: 207px;
  height: 39px;
}
.leaderboard {
  top: 0;
  left: 40px;
  font-weight: 500;
  display: inline-block;
  width: 240px;
}
.leaderboard-parent {
  position: absolute;
  top: 58px;
  left: 0;
  width: 280px;
  height: 39px;
  cursor: pointer;
}
.group-parent {
  position: absolute;
  top: 208px;
  left: 70px;
  width: 280px;
  height: 462px;
  font-size: 32.06px;
}
.quiz-child1,
.rectangle-div {
  position: absolute;
  top: 427px;
  left: 445px;
  border-radius: var(--br-16xl);
  background-color: var(--color-gray);
  width: 281px;
  height: 306px;
  cursor: pointer;
}
.quiz-child1 {
  top: 424px;
  left: 1077px;
}
.mathematics,
.programming,
.text {
  position: absolute;
  display: inline-block;
}
.text {
  top: 345px;
  left: 836px;
  font-weight: 300;
  color: #d2d2d2;
  text-align: center;
  width: 350px;
  height: 79px;
}
.mathematics,
.programming {
  top: 461px;
  left: 485px;
  font-weight: 500;
  width: 186px;
  height: 39px;
}
.programming {
  top: 445px;
  left: 1124px;
  width: 202px;
}
.quiz-child2,
.quiz-child3 {
  position: absolute;
  top: 507.5px;
  left: 470.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 217.01px;
  height: 1px;
}
.quiz-child3 {
  top: 491.5px;
  left: 1109.5px;
}
.date-24-11-22-max-container {
  position: absolute;
  top: 523px;
  left: 462px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 244px;
  height: 124px;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-16xl);
  background-color: var(--color-gray);
  width: 281px;
  height: 306px;
}
.chemistry {
  position: absolute;
  top: 24px;
  left: 63px;
  font-weight: 500;
  display: inline-block;
  width: 186px;
  height: 39px;
}
.group-child1 {
  position: absolute;
  top: 70.5px;
  left: 32.5px;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 217.01px;
  height: 1px;
}
.date-25-11-22-max-container {
  position: absolute;
  top: 103px;
  left: 19px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 244px;
  height: 124px;
}
.rectangle-parent {
  position: absolute;
  top: 427px;
  left: 761px;
  width: 281px;
  height: 306px;
  cursor: pointer;
}
.date-26-11-22-max-container {
  position: absolute;
  top: 524px;
  left: 1090px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 244px;
  height: 124px;
}
.quiz {
  position: relative;
  background: linear-gradient(
    135deg,
    #08000e 10.21%,
    #08000e 10.21%,
    #000 23.75%,
    #500188
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 27.06px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
